@model IEnumerable<MyMvcApp.Models.Product>

<div style="text-align: center">
    <h1 class="display-4">Welcome to MyMvcApp 12130906</h1>
    <h4>這些資料是從 Postgres Database 資料庫來的</h4>

    <table class="table">
        <thead>
            <tr>
                <th>產品名稱</th>
                <th>描述</th>
                <th>價格</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
